{% extends 'base.html' %}

{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    <script data-ad-client="ca-pub-2886563858806025" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <style>
            .icon{
              background-color:transparent !important;
              background:transparent !important;
            }
        </style>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {% block content%}
        <br/>
        <div class="ui medium breadcrumb" style="margin-left:20px;font-family:barlow;">
  <a href="/" class="section">Home</a>
  <i class="right chevron icon divider"></i>
  <a href="../" class="section">Blogs</a>
  <i class="right chevron icon divider"></i>
  <div class="active section">Read Detailed Blog</div>
</div>
        <div style="float:top;">
        <div class="ui segment">
        <h4 class="headingSpan darkLabel" style="">{{blog.title}}</h4>
        <div class="ui divider"></div>
              <img class="ui medium left floated image" src="https://storage.googleapis.com/vcnity-solutions.appspot.com/{{blog.image1}}">
              <p>{{blog.content_initial}}</p>
              <img class="ui medium right floated image" src="https://storage.googleapis.com/vcnity-solutions.appspot.com/{{blog.image2}}">
              <p>{{blog.content_middle}}</p>
              <p>{{blog.content_conclusion}}</p>
    </div>
    </div>

    <div class="ui divider"></div>

      {% comment %} <div class="item">
         
    <div>{{next.title}}</div>
    <div class="content">
      <a class="header" href="detail/?dveucvuyr3vybrvbcurbno={{next.pk}}">{{blog.title}}</a>
      <div class="meta">
        <span>Author: {{next.author}}</span>
      </div>
      <div class="description">
        <p></p>
      </div>
      <div class="extra">
        {{blog.timestamp}}
      </div>
    </div>
  </div>

    {% endcomment %}


         {% comment %} <div class="headingDiv centeredDiv">
        <span class="headingSpan">My City Blogs</span>
        </div>
        <h4 class="ui dividing header headLabel">Find blogs specific to your city from here</h4> {% endcomment %}



{% comment %} <div class="ui segment">
 <div class="ui five column stackable grid">
                
                <div class="column">
                    <div class="ui fluid card">
                            <a class="ui medium rounded image" href="#">
                                <img class="ui medium rounded image" src="https://storage.googleapis.com/vicinity-solutions.appspot.com/static/images/blogs/cities/jaipur_hawa_mahal.jpg">
                            </a>
                    <div class="content">
                        <a class="header" href="#">Jaipur</a>
                            <div class="meta">
                      
                            </div>
                    </div>
                </div>
            </div>
                <div class="column">
                    <div class="ui fluid card ">
                            <a class="ui medium rounded image " href="#">
                                <img class="ui medium rounded image" src="https://storage.googleapis.com/vicinity-solutions.appspot.com/static/images/blogs/cities/victoria_memorial_kolkata.jpg">
                            </a>
                    <div class="content">
                        <a class="header" href="#">Kolkata</a>
                            <div class="meta">
                      
                            </div>
                    </div>
                </div>
            </div>
             <div class="column">
                <div class="ui fluid card">
                <a class="large image" href="#">
                    <img class="ui medium rounded image" src="https://storage.googleapis.com/vicinity-solutions.appspot.com/static/images/blogs/cities/Lucknow_railway_station.jpg">
                </a>
                <div class="content">
                    <a class="header" href="#">Lucknow</a>
                    <div class="meta">
                    
                    </div>
                </div>
                </div>
                </div>

</div> {% endcomment %}
<div>
<p> 

</p>
</div>
        {% endblock %}
        
       
    </body>


</html>