<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>

    <div class="class" style="background-color:rgb(250, 219, 216);margin:10px;padding: 10px;;">
        <br/>
        <div class="" style="font-weight: bold;padding: 20px;color: white;background-color: rgb(84, 153, 199 );font-family:sans-serif;">
            Build your online store with vcnity.online
        </div>

        <div style="color:rgb(21, 67, 96);font-family:sans-serif;margin:10px;line-height: 50px;;">
            Dear Seller, <br/> We are please to welcome you in the world of vcnity.online where every seller gets enabled to connect with their customers and extend their online reach. If you have been thinking to build your own website/mobile app for
            your store we can help you.
        </div>
        <div style="">

            <div style="float: left;">1</div> <br/>
            <div style="float: right;">Here is the result</div> <br/>
            <div style="float: right;">2</div> <br/>
            <div style="float: left;">3</div> <br/>
            <div style="float: right;">4</div> <br/>

        </div>
    </div>
    <script src="" async defer></script>
</body>

</html>

