{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
         <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
         <link rel="stylesheet" type="text/css" href="{% static 'css/App.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">

    </head>
    <body>
    
    <div class="centeredDiv headingDiv">        
        <span class="headingSpan" style="font-weight: 500;color: #fff;"> Buy from vcnity</span>
    </div>
    <br/>
        <!--[if lt IE 7]>
              <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
{% comment %} <div class="ui three column stackable grid" style="">
  <div class="column">
        <h4>Get products from the shops all around your city same day</h4>
        <img class="ui large image" src="https://storage.googleapis.com/vcnity-solutions.appspot.com/static/images/website/avatar_1201.png" />
  </div>
  <div class="column">
        <h4>Do window shopping while being indoors</h4>
        <br/>
        <img class="ui large image" src="https://storage.googleapis.com/vcnity-solutions.appspot.com/static/images/website/city_market_rush_2304.png" />
  </div>
 
  <div class="column">
        <h4>Less chances of refunds and returns when you buy your prefered products</h4>
        <img src="https://storage.googleapis.com/vcnity-solutions.appspot.com/static/images/website/avatar_1201.png" />
   </div>
</div> {% endcomment %}
    <button class="ui green button" style="margin-left:40px" onclick="location.href='/SignUp'">Register/Signup</button>
    <br/>
    <div class="ui stackable grid" style="margin:0 20px 0 40px;">

    <h4 class="">Get products from the shops all around your city same day</h4>
    
    <div class="ui divider"></div>
     <div class="row">
        <div class="four wide column">
            <img class="ui large left floated image" src="https://storage.googleapis.com/vcnity-solutions.appspot.com/static/images/website/city_birdeye_view_3456.jpg">
        </div>
         <div class="eight wide column">
            <p>
            <span class="">Get products from your favourite stores from where you and your family has been shopping since long time, you can find them on vcnity.online and shop from them online.</span><br/>
            <span class="">Get products from the shops all around your city same day. </span><br/>
            <span class="">Do window shopping while being indoors. </span></p>    
            <button class="ui orange button">Search Stores</button>       
        </div>
       
    </div>
    <br/>
    
        <h4 class="" style="float:right;">Do window shopping while being indoors</h4>
    
     <div class="three column row">     
        
         <div class="column">
            <p>Te eum doming eirmod, nominati pertinacia argumentum ad his. Ex eam alia facete scriptorem, est autem aliquip detraxit at. Usu ocurreret referrentur at, cu epicurei appellantur vix. Cum ea laoreet recteque electram, eos choro alterum definiebas in. Vim dolorum definiebas an. Mei ex natum rebum iisque.</p>                     
        </div>
          <div class="column">
            <img class="ui large left floated image" src="https://storage.googleapis.com/vcnity-solutions.appspot.com/static/images/website/shopping_mall_234567.jpg">
        </div>
        <div class="column">
         <p>Audiam quaerendum eu sea, pro omittam definiebas ex. Te est latine definitiones. Quot wisi nulla ex duo. Vis sint solet expetenda ne, his te phaedrum referrentur consectetuer. Id vix fabulas oporteat, ei quo vide phaedrum, vim vivendum maiestatis in.</p>
            <p>Eu quo homero blandit intellegebat. Incorrupte consequuntur mei id. Mei ut facer dolores adolescens, no illum aperiri quo, usu odio brute at. Qui te porro electram, ea dico facete utroque quo. Populo quodsi te eam, wisi everti eos ex, eum elitr altera utamur at. Quodsi convenire mnesarchum eu per, quas minimum postulant per id.</p>
        </div>
      
    </div>
   
    <div class="three column row">
        <div class="column">
            <img class="ui large left floated image" src="https://storage.googleapis.com/vcnity-solutions.appspot.com/static/images/website/city_market_rush_2304.png">
        </div>
         <div class="column">
            <p>Te eum doming eirmod, nominati pertinacia argumentum ad his. Ex eam alia facete scriptorem, est autem aliquip detraxit at. Usu ocurreret referrentur at, cu epicurei appellantur vix. Cum ea laoreet recteque electram, eos choro alterum definiebas in. Vim dolorum definiebas an. Mei ex natum rebum iisque.</p>                       
        </div>
        <div class="column">
         <p>Audiam quaerendum eu sea, pro omittam definiebas ex. Te est latine definitiones. Quot wisi nulla ex duo. Vis sint solet expetenda ne, his te phaedrum referrentur consectetuer. Id vix fabulas oporteat, ei quo vide phaedrum, vim vivendum maiestatis in.</p>
            <p>Eu quo homero blandit intellegebat. Incorrupte consequuntur mei id. Mei ut facer dolores adolescens, no illum aperiri quo, usu odio brute at. Qui te porro electram, ea dico facete utroque quo. Populo quodsi te eam, wisi everti eos ex, eum elitr altera utamur at. Quodsi convenire mnesarchum eu per, quas minimum postulant per id.</p>
        </div>
    </div>
    <div class="row">
        <div class="ui segment">
            <img class="ui small left floated image" src="/images/wireframe/text-image.png">
            <p>Te eum doming eirmod, nominati pertinacia argumentum ad his. Ex eam alia facete scriptorem, est autem aliquip detraxit at. Usu ocurreret referrentur at, cu epicurei appellantur vix. Cum ea laoreet recteque electram, eos choro alterum definiebas in. Vim dolorum definiebas an. Mei ex natum rebum iisque.</p>
            <img class="ui small right floated image" src="/images/wireframe/text-image.png">
            <p>Audiam quaerendum eu sea, pro omittam definiebas ex. Te est latine definitiones. Quot wisi nulla ex duo. Vis sint solet expetenda ne, his te phaedrum referrentur consectetuer. Id vix fabulas oporteat, ei quo vide phaedrum, vim vivendum maiestatis in.</p>
            <p>Eu quo homero blandit intellegebat. Incorrupte consequuntur mei id. Mei ut facer dolores adolescens, no illum aperiri quo, usu odio brute at. Qui te porro electram, ea dico facete utroque quo. Populo quodsi te eam, wisi everti eos ex, eum elitr altera utamur at. Quodsi convenire mnesarchum eu per, quas minimum postulant per id.</p>
        </div>
        </div>
    </div>
         <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="{% static 'js/owl-carousel.js' %}"></script>
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script> 
    <script src="assets/js/slick.js"></script> 
    <script src="assets/js/lightbox.js"></script> 
    <script src="assets/js/isotope.js"></script> 
    </body>
</html>