
<div id="myModal" class="modal">
  
    
  <!-- Modal content -->
  <div class="modal-content">
    <div class="ui message showMessage" style="display: none;width:auto !important;">
      <i class="messageclose icon" style="background-color:transparent!Important;" value=""></i>
          <div class="header">
          
          </div>       
          <p style="font-weight: 500;">
               <span class="ui label"></span>
          </p>    
</div>
        <span class="close">&times;</span>
     <div id="add_content">

     </div>
        
  </div>

</div>